*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Cabin', 'Times New Roman', 'Georgia', serif;
}
html,body{
    background-color: skyblue;
}
h1{
    font-family: 'Old Standard TT', 'Helvetica', 'Arial', sans-serif;
    font-size: 4rem;
    padding:1rem 2rem;
}
h2{
    font-family: 'Old Standard TT', 'Helvetica', 'Arial', sans-serif;
    font-size: 3rem;
    padding:1rem 2rem;
}
nav ul{
    padding:1rem 0;
}
nav li{
    font-size: 1.999rem;
    list-style-type: none;
}
nav li>a{
    display: block;
    text-decoration: none;
    border-bottom: 0.2rem solid black;
    padding: 0.2rem 2rem;
    color: cadetblue;
}
nav li>a:hover,
nav li>a:active{
    color: #222;
}
p{
    font-size: 1.5rem;
    padding:0.5rem 2rem;
}
main p:last-child{
    padding-bottom: 4rem;
}
.wrapper{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #e4e4e4;
}
header{
    width:100%;
    border-bottom: 1rem solid cadetblue;
}
nav{
    float:left;
    width: 20%;
}
main{
    float:right;
    width: 80%;
}
footer{
    clear:both;
    width: 100%;
    border-top: 0.5rem solid cadetblue;
}
footer p{
    font-size: 1rem;
    padding: 2rem;
    color: #666;
}